Pods/
Pods/*
Pods/**
Pods/Pods.xcodeproj/**

*.xcodeproj/xcuserdata/*/**
*/project.xcworkspace/xcuserdata/*/**

*/xcuserdata/*/**
*/xcshareddata/xcschemes/**

*.xcworkspace*.pbxuserxcuserdata/

Podfile.lock

*/.DS_Store