Pods/
Pods/*
Pods/**
Pods/Pods.xcodeproj/**

CBUAEApp.xcodeproj/xcuserdata/*/**
CBUAEApp.xcodeproj/project.xcworkspace/xcuserdata/*/**

CBUAEApp.xcworkspace/xcuserdata/*/**
CBUAEApp.xcodeproj/xcshareddata/xcschemes/**

*.xcworkspace*.pbxuserxcuserdata/

Podfile.lock

*/.DS_Store